<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "preamble.html" }}
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <span>{{ .Site.Params.slogan }}</span>
        <br>
        <section>
          <h2>Most Recently Updated Recipes</h2>
          {{ range first 3 (where .Site.RegularPages.ByPublishDate.Reverse "Type" "recipes") }}
          <article>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <time>{{ .Date.Format "2 Jan, 2006" }}</time>
          </article>
          {{ end }}
        </section>
        <br>
        See all recipes: <a href="recipes">click</a>.
        <br>
        <section>
          <h2>Browse from various selections</h2>
          <ul>
          {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
            {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
              <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
          {{ end }}
          </ul>
        </section>
        <br>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
