<section class="row justify-content-center">
  <div class="col-lg-8 text-center">
    <span>Comment below, or on <a href="https://github.com/{{ .Site.Params.commentRepo }}/discussions">the Git repo</a>.</span><br>
    <script src="https://giscus.app/client.js"
            data-repo="{{ .Site.Params.commentRepo }}"
            data-repo-id="MDEwOlJlcG9zaXRvcnkzODEzOTAwNjU="
            data-category="Recipe Comments"
            data-category-id="DIC_kwDOFruM8c4B-MRy"
            data-mapping="og:title"
            data-reactions-enabled="1"
            data-theme="light"
            crossorigin="anonymous"
            async>
    </script>
    <noscript>Your browser does not support JavaScript, so inline comments have been hidden.</noscript>
    <!-- TODO: enable custom CSS once https://github.com/laymonage/giscus/issues/114 has been PR-ed and merged. -->
  </div>
</section>
