<!-- None are loaded with async because collapse.js depends on the previous ones -->
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/data.js").Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/event-handler.js").Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/manipulator.js").Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/selector-engine.js").Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/base-component.js").Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/collapse.js").Permalink }}"></script>
