<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{ .Site.Params.title }} - {{ .Site.Params.description }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta
      property="og:title"
      content="{{ .Site.Params.title }} - {{ .Site.Params.description }}"
    />
    {{ partial "preamble.html" . }}
  </head>
  <body>
    {{ partial "sidebar.html" . }}
    <main>
      <h1>{{ .Title }}</h1>
      {{ .Content }}

      Recent posts:
      {{ range first 10 (where .Site.RegularPages.ByPublishDate "Type" "post") }}
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <time>{{ .Date.Format "2 Jan, 2006" }}</time>
      {{ end }}
      {{ partial "footer.html" }}
    </main>
    {{ partial "postamble.html" . }}
  </body>
</html>
