<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "preamble.html" }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="Recipe search result" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>

        <h1 class="display-2 text-center mb-5" id="page-title">Loading...</h1>
        <div class="row">
          <section class="col-12 col-lg-3">
            <div class="sticky-lg-top filters">
              <!-- Search box -->
              <input
                class="form-control"
                name="q"
                id="search-query"
                type="text"
                placeholder="Search recipes"
                aria-label="Search Query">

              <!-- Some Filters. Yes, the HTML is a gigantic mess but alas this is how Bootstrap forms work :( -->
              <div class="accordion accordion-flush mt-5" id="searchFilters">
                <div class="accordion-item">
                  {{/* Allergens aren't a taxonomy, so merge them. But to merge
                       them, they have to be in a very specific format, which the
                       loop below creates. */}}
                  {{- $s := newScratch -}}
                  {{- $s.Add "allergens" dict -}}
                  {{- range .Site.Params.allergens -}}
                  {{- $s.SetInMap "allergens" . slice -}}
                  {{- end -}}

                  {{- $allFilterable := merge $.Site.Taxonomies (dict "allergens" ($s.Get "allergens")) -}}
                  {{- range $key, $terms := $allFilterable -}}
                  <div class="accordion-header" id="filter{{ $key | title }}Heading">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#filter{{ $key | title }}Body"
                      aria-expanded="false"
                      aria-controls="filter{{ $key | title }}Body">
                      {{ if eq $key "allergens" }}Excluded {{ end }}{{ $key | title }}
                    </button>
                  </div>
                  <div
                    id="filter{{ $key | title }}Body"
                    class="accordion-collapse collapse"
                    aria-labelledby="filter{{ $key | title }}Heading"
                    data-bs-parent="#searchFilters">
                    <!-- accordion-body has to be strictly a child of the accordion-collapse class to prevent jumpy transitions:
                    https://stackoverflow.com/questions/38857162/bootstrap-collapse-has-a-jumpy-transition -->
                    <div class="accordion-body">
                      {{ range $term, $pages := $terms }}
                      <div class="form-check">
                        <input
                          class="form-check-input filter-checkbox"
                          type="checkbox"
                          value=""
                          id="filter{{ $key }}{{ $term }}"
                          data-filter-key="{{ $key }}"
                          data-filter-value="{{ $term }}">
                        <label class="form-check-label" for="filter{{ $key }}{{ $term }}">
                          {{ $term | title }}
                        </label>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}

                </div>
              </div>
            </div>
          </section>
          <section class="col-12 col-lg-9">
            {{ partial "add-new-recipe.html" . }}
            <noscript>
              Searching or filtering is not possible without JavaScript enabled. You can, however, view all recipes as a list <a href="view-all">here</a>.
            </noscript>
            <ol class="recipe-listing row row-cols-2 row-cols-lg-3 g-4" id="recipe-listing">
              <!-- Here, recipes will be loaded with AJAX. The choice to load
              these asynchronously versus creating them with Hugo templates and
              conditionally hiding them with filters is so that the search can
              re-sort and change the order of recipes easily by just changing the
              .innerHTML. If the recipes were all generated in this file and all
              filters did was show/hide each one, it would be impossible to change
              the order in which recipes are shown. -->
            </ol>
          </section>
        </div>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
    {{ $customScript := resources.Get "/js/search.js" | resources.Minify | resources.Fingerprint }}
    <script async src="{{ $customScript.Permalink }}" integrity="{{ $customScript.Data.Integrity }}"></script>
  </body>
</html>
