<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>{{ .Title }} | CompSoc Cookbook</title>
    {{ if isset .Params "summary" }}<meta name="description" content="{{ .Params.summary }}" />{{ end }}
    <meta property="og:description" content="{{ if isset .Params "summary" }}{{ .Params.summary}}{{ else }}{{ .Title }}{{ end }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cookbook.comp-soc.com" />
  </head>
  <body>
    <main role="main">
      <article>
        {{ if isset .Params "image" }}
        <section class="header image" style="background-image: url({{ .Params.image }});">
        {{ else }}
        <section class="header">
        {{ end }}
          <h1>{{ .Title }}</h1>
          {{ if isset .Params "summary" }}<p class="summary">{{ .Params.summary }}</p>{{ end }}
          <div class="meta">
            <div>
              <time datetime="{{ .Date }}">{{ .Date.Format "2 January, 2006" }}</time>
              <span class="bullet">•</span>
              124124
              <span>Serves</span>
            </div>
          </div>
        </section>
        {{ $content := .Content }}
        {{ $content | safeHTML }}
      </article>
      {{ partial "footer.html" }}
    </main>
    {{ partial "postamble.html" . }}
  </body>
</html>
