{{/* This is used when there is no specific [taxonomy]/list.html available, e.g. tags. */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>Browsing all {{ .Data.Plural }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="List of all {{ .Data.Plural }}" />
    <meta property="og:description" content="There are {{ len .Data.Terms }} different {{ .Data.Plural }} to browse from." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cookbook.betterinformatics.com" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1>{{ .Title }}</h1>
        <span>List of {{ .Data.Plural }}.</span>
        <hr>
        <ol class="listing">
          {{ range .Data.Terms }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
          {{ end}}
        </ol>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
