{{/* This is a generic placeholder for when there is no [taxonomy]/term.html available. Mostly here as backup in case a new taxonomy is added. */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>Browsing all {{ .Title }} dishes | {{ .Site.Title }}</title>
    {{ partial "preamble.html" . }}
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center mb-3">{{ .Title | title }}</h1>
        <div class="text-center mb-5">
          <a class="btn btn-outline-primary" href="/recipes?{{ .Data.Plural }}={{ .Title }}">Search with this filter</a>
        </div>
        {{ partial "listing.html" (dict "pages" (.Pages.ByTitle.Reverse).ByPublishDate.Reverse "page" .) }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
