{{/* This is a generic placeholder for when there is no [taxonomy]/term.html available. Mostly here as backup in case a new taxonomy is added. */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>Browsing all {{ .Title }} dishes | {{ .Site.Title }}</title>
    <meta property="og:title" content="List of all dishes with the {{ .Data.Singular }} {{ .Title }}" />
    <meta property="og:description" content="There are {{ len .Pages }} recipes with the {{ .Data.Singular }} {{ .Title }}!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cookbook.betterinformatics.com" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center mb-3">{{ .Title | title }}</h1>
        <div class="text-center mb-5">
          <a class="btn btn-outline-primary" href="{{ printf "%s%s" "recipes?" (querify .Data.Plural .Title ) | relURL }}">Search with this filter</a>
        </div>
        {{ partial "listing.html" (dict "pages" (.Pages.ByTitle.Reverse).ByPublishDate.Reverse "page" .) }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
