<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" }}
    <title>Browsing all {{ .Title }} dishes | {{ .Site.Title }}</title>
    <meta property="og:title" content="List of all {{ .Title }}" />
    <meta property="og:description" content="There are {{ len .Pages }} recipes that are classified as {{ .Title }}!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center">{{ .Title | title }}</h1>
        <!-- printf below concatenates the two strings, and relURL converts a
        URL *with no preceding slash* to a relative URL that works on any context
        that the site could be deployed in. -->
        <div class="text-center mb-5">
          <a class="btn btn-outline-primary" href="{{ printf "%s%s" "recipes?" (querify .Data.Plural .Title ) | relURL }}">Search with this filter</a>
        </div>
        {{ partial "listing.html" (dict "pages" (.Pages.ByTitle.Reverse).ByPublishDate.Reverse "page" .) }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
