{{/* This is redundant in place of taxonomy/list.html, but in the future this will contain difficulty-specific design/layout */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" }}
    <title>Browsing all {{ .Data.Plural }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1>{{ .Title }}</h1>
        <span>List of {{ .Data.Plural }}.</span>
        <hr>
        <ol class="listing">
          {{ range .Data.Terms }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
          {{ end}}
        </ol>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
