<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" }}
    <title>Browsing all {{ .Title }} dishes... | {{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center">{{ .Title | title }}</h1>
        <h4 class="text-center mb-5">List of recipes ranked as {{ .Title }}.</h4>
        {{ partial "listing.html" (dict "amount" 12 "pages" (.Pages.ByTitle.Reverse).ByPublishDate.Reverse "page" .) }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
