<div class="add-recipe row row-cols-1 mb-4 d-none d-lg-block">
  <a href="https://github.com/{{ .Site.Params.cookbookRepo }}/new/main/?filename=main_courses/0-easy/foo.md&value={{ .Site.Params.templateRecipe }}&message=add%20my%20&delicious%20recipe">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add your own recipe!</h5>
        <p class="card-text">Click here to create a Pull Request. The format is <i>super</i> simple, it won't take minutes!</p>
      </div>
    </div>
  </a>
</div>
