<ol class="recipe-listing row row-cols-2 row-cols-lg-4 g-4">
  {{ range .pages }}
    <li class="recipe-listing-item col">
      <a href="{{ .RelPermalink }}">
        <div class="card h-100 {{ if (isset .Params "previewimage") }}card-image{{end}}"  role="article">
          {{ if (isset .Params "previewimage") }}
            {{ if (substr .Params.previewimage 0 4) | eq "http" }}
              <img class="card-img-top lazy" src="{{ .Params.previewimage }}" alt="Delicious-looking image of {{ .Title }}">
            {{ else }}
              <img class="card-img-top lazy" src="{{ .RelPermalink }}/{{ .Params.previewimage }}" alt="Delicious-looking image of {{ .Title }}">
            {{ end }}
          {{ end }}
          <div class="card-body {{ if (isset .Params "previewimage") }}card-img-overlay{{ end }}">
            <span class="meta">{{ .Params.meals }} / {{ .Params.difficulties }}</span>
            <h4 class="display-5 mt-lg-3">{{ .Title }}</h2>
          </div>
        </div>
      </a>
    </li>
  {{ end }}
</ol>
