<ol class="recipe-listing row row-cols-2 row-cols-lg-4 g-4">
  {{ range .pages }}
    <li class="recipe-listing-item col">
      <a href="{{ .RelPermalink }}">
        <div class="card h-100"  role="article">
          {{ if (isset .Params "previewimage") }}
          <img loading="lazy" src="{{ .Params.previewimage }}" class="card-image-top mx-1 mt-1" alt="Delicious-looking image of {{ .Title }}" />
          {{ end }}
          <div class="card-body">
            <span class="meta">{{ .Params.meals }} / {{ .Params.difficulties }}</span>
            <h4 class="display-5 mt-lg-3">{{ .Title }}</h2>
          </div>
        </div>
      </a>
    </li>
  {{ end }}
</ol>
