@charset "UTF-8";

/* =======================================================*/
/* Colors and Configuration for Bootstrap                 */
/* =======================================================*/

$primary-darkest: #64472e;
$primary-darker: #885d3a;
$primary: #af7c54;
$primary-lighter: #cc9e79;
$primary-lightest: #e8c6ab;
$bg: #fefefc;
$secondary-darker: #f7b096;
$secondary: #ffc1ab;
$secondary-lighter: #f8cebf;

$text-dark: rgba(0, 0, 0, 0.87);
$text-dark-hint: rgba(0, 0, 0, 0.60);
$text-dark-disabled: rgba(0, 0, 0, 0.38);

$text-light: rgba(255, 255, 255, 0.87);
$text-light-hint: rgba(255, 255, 255, 0.6);
$text-light-disabled: rgba(255, 255, 255, 0.38);

// As much as I would like to add supports-color-scheme support,
// twbs/bootstrap#27514 is blocking.

$text-primary: $primary-darker;
$text-primary-hint: $primary;
$text-primary-disabled: rgba($text-primary, .38);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px /* remove xxl, limit width to 1140 to align with comp-soc.com */
);

$display-font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem /* default bootstrap sizes are too big */
);

$border-radius: 0rem;

$font-family-base:"Lato", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", system-ui;

$font-family-display: "Playfair Display", charter, Georgia, Cambria, "Times New Roman", Times, serif, system-ui;

/* =======================================================*/
/* Load Bootstrap                                         */
/* =======================================================*/

// Load only the necessary components to optimize load time and network usage.

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";

// Layout & components
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
// @import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
// @import "../bootstrap/scss/dropdown";
// @import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/accordion";
// @import "../bootstrap/scss/breadcrumb";
@import "../bootstrap/scss/pagination";
// @import "../bootstrap/scss/badge";
// @import "../bootstrap/scss/alert";
// @import "../bootstrap/scss/progress";
// @import "../bootstrap/scss/list-group";
// @import "../bootstrap/scss/close";
// @import "../bootstrap/scss/toasts";
// @import "../bootstrap/scss/modal";
// @import "../bootstrap/scss/tooltip";
// @import "../bootstrap/scss/popover";
// @import "../bootstrap/scss/carousel";
// @import "../bootstrap/scss/spinners";
// @import "../bootstrap/scss/offcanvas";

@import "../bootstrap/scss/helpers";

// Utilities
@import "../bootstrap/scss/utilities/api";

/* =======================================================*/
/* Nav Bootstrap                                          */
/* =======================================================*/

@import "nav";

/* =======================================================*/
/* Custom overrides, styles, CSS generation               */
/* =======================================================*/

body {
  background-color: $bg;
}

@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    font-family: $font-family-display;
  }

  .display-#{$display}.text-bold {
    font-weight: 500;
  }
}

.background {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 100vw;
}

.background img {
  clip-path: url(#myClip);
  margin-top: 300px;
  width: 100%;
}

.background svg clipPath {
  height: 150px;
  width: 100vw;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: unset;
  opacity: unset;
}

.add-recipe a {
  display: block;
  text-decoration: unset;
  color: $text-dark;

  .card {
    transition: background-color 0.15s cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  &:hover .card, &:focus .card {
    background: $primary-lightest;
  }
}

.recipe-listing {
  list-style-type: none;
  padding: 0;
}

.recipe-listing-item a {
  text-decoration: unset;

  .card {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    background-color: transparent;
    border: 0;

    img {
      height: 25vh;
      object-fit: cover;

      @include media-breakpoint-only(xs) {
          height: 20vh;
      }
    }

    @include media-breakpoint-only(xs) {
      .card-body {
        padding: 0.5rem;
      }
    }

    h4 {
      color: $text-dark;
    }

    .meta {
      transition: color 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
      color: $text-primary-hint;

      @include media-breakpoint-only(xs) {
        font-size: 0.9rem;
      }
    }
  }

  &:hover .card, &:focus .card {
    /* Render the box-shadow above the item below in the listing */
    z-index: $zindex-popover;

    &::before {
      background-color: $secondary;
      box-shadow: 0 .5rem 1rem rgba($secondary, .7);
    }

    .meta {
      color: $text-dark-hint;
    }
  }

  /* Popup if reduced-motion is not set */
  @media (prefers-reduced-motion: no-preference) {
    &:hover .card, &:focus .card {
      &::before {
        transform: scaleX(1.08) scaleY(1.1);

        @include media-breakpoint-up(lg) {
          transform: scaleX(1.17) scaleY(1.1);
        }
      }
    }

  }
}

.sticky-lg-top.filters {
  top: $spacer;
}

.recipe-keywords {
  text-transform: uppercase;
  color: $text-primary-hint;
  text-align: center;

  .recipe-keyword {
    text-decoration: unset;
    display: inline-block;
  }
}

.recipe-property {
  text-transform: uppercase;
  text-decoration: unset;
  color: $text-primary;
}

.recipe-body img {
  max-width: 100%;
}


@for $heading-size from 1 through 4 {
  .recipe-body h#{$heading-size} {
    @extend .mt-4, .mb-4;

    @media print {
      margin: 0 0 1rem 0 !important;
    }
  }
}

footer {
  color: $text-dark-disabled;
  transition: color 0.15s cubic-bezier(0.215, 0.610, 0.355, 1);

  @include media-breakpoint-only(xs) {
    font-size: small;
  }

  a {
    color: $text-primary-hint;
  }

  &:hover {
    color: $text-dark;

    a {
      color: $text-primary;
    }
  }
}
