<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "preamble.html" }}
    <title>{{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Site.Params.slogan }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <section class="mb-5 pb-5">
          <h1 class="display-2 text-center mb-3">CompSoc CookBook</h1>
          <h4 class="display-6 text-bold text-center mb-5">{{ .Site.Params.slogan }}</h4>
          <p>
            CompSoc Cookbook is a curated list of recipes by CompSoc Edinburgh members.
          </p>
          <p>
            We'd love you to contribute some of your own favourite recipes! All of our data is on <a href="https://github.com/{{ .Site.Params.cookbookRepo }}">GitHub</a>, and the format is plain Markdown.
          </p>
        </section>
        <hr>
        <section class="my-5 py-2">
          <div class="d-block d-lg-flex justify-content-between mb-3">
            <h2 class="display-5 text-bold mb-3">Most Recently Updated Recipes</h2>
            <p><a href="recipes" class="btn btn-outline-primary">View all Recipes</a></p>
          </div>
          <ol class="recipe-listing row row-cols-2 row-cols-lg-4 g-3">
            {{/* Display the most recent 4, without images (even if any exist) */}}
            {{ range $i, $val := first 4 (where .Site.RegularPages.ByPublishDate.Reverse "Type" "recipes") }}
            <li class="recipe-listing-item col{{ if (gt $i 1) }} d-none d-lg-block{{ end }}">
              <a href="{{ $val.RelPermalink }}">
                <div class="card h-100" role="article">
                  <div class="card-body">
                    <span class="meta">{{ $val.Date.Format "2 Jan, 2006" }}</span>
                    <h4 class="display-6 mt-lg-3">{{ $val.Title }}</h4>
                  </div>
                </div>
              </a>
            </li>
            {{ end }}
          </ol>
        </section>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
