<!-- None are loaded with async because collapse.js depends on the previous ones -->
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/data.js" | resources.Minify).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/event-handler.js" | resources.Minify).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/manipulator.js" | resources.Minify).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/dom/selector-engine.js" | resources.Minify).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/base-component.js" | resources.Minify).Permalink }}"></script>
<script type="text/javascript" src="{{ (resources.Get "/bootstrap/js/dist/collapse.js" | resources.Minify).Permalink }}"></script>
