<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" }}
    <title>All {{ .Title }} | {{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center mb-5">{{ .Title }}</h1>
        <div class="add-recipe row row-cols-1 mb-4 d-none d-lg-block">
          <a href="https://github.com/{{ .Site.Params.cookbookRepo }}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add your own recipe!</h5>
                <p class="card-text">The format is <i>super</i> simple, it won't take minutes!</p>
              </div>
            </div>
          </a>
        </div>
        <ol class="recipe-listing row row-cols-2 row-cols-lg-4 g-4">
          {{ $paginator := .Paginate (where (.Pages.ByTitle.Reverse).ByPublishDate.Reverse "Type" "recipes") 12 }}

          {{ range $paginator.Pages }}
            <li class="recipe-listing-item col">
              <a href="{{ .RelPermalink }}" role="article">
                <div class="card h-100">
                  <img src="https://source.unsplash.com/random?{{ .Title }}" class="card-image-top mx-1 mt-1" alt="Placeholder courtesy of Unsplash. License: https://unsplash.com/license" />
                  <div class="card-body">
                    <span class="meta">{{ .Params.meals }} / {{ .Params.difficulties }}</span>
                    <h4 class="display-5 mt-lg-3">{{ .Title }}</h2>
                  </div>
                </div>
              </a>
            </li>
          {{ end }}
        </ol>
        <div class="d-flex justify-content-center mt-5">
          {{ template "_internal/pagination.html" . }}
        </div>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
