<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" }}
    <title>All {{ .Title }} | {{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center mb-5">{{ .Title }}</h1>
        <div class="add-recipe row row-cols-1 mb-4 d-none d-lg-block">
          <a href="https://github.com/{{ .Site.Params.cookbookRepo }}/new/main/?filename=main_courses/0-easy/foo.md&value=---%0Akeywords%3A%20%5Bbabylonian%2C%20fresh%2C%20vegetarian%5D%0Aallergens%3A%0A-%20milk%0Aserves%3A%2030%20cookies%0A---%0A%0A%23%20Grandma%27s%20Milk%20Chocolate%20Cookies%0A%0AThey%20always%20turn%20out%20delicious%21%0A%0A%23%23%20Ingredients%0A%0A%2A%2030g%20of%20molten%20hearts%0A%2A%2070g%20of%20unsalted%20butter%0A%2A%20100ml%20milk%0A%0A%23%23%20Blahblah&message=add%20my%20&delicious%20recipe">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add your own recipe!</h5>
                <p class="card-text">The format is <i>super</i> simple, it won't take minutes!</p>
              </div>
            </div>
          </a>
        </div>
        {{ partial "listing.html" (dict "amount" 12 "pages" (.Pages.ByTitle.Reverse).ByPublishDate.Reverse "page" .) }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
