{{/* This template renders a single recipe! */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="A curated recipe by a valuable CompSoc member." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://comp-soc.com/cookbook" />
  </head>
  <body>
    <div class="background"></div>
    <div class="container">
      <main>
        <article>
          <h1 class="display-4">{{ .Title }}</h1>
          <time datetime="{{ .Date }}">{{ .Date.Format "2 January, 2006" }}</time>
          <section>
            <h2>Tags</h2>
            <ul>
            {{ $tags := .Page.Params.tags }}
            {{/* Tags are a list but just incase someone puts a string:*/}}
            {{ if eq (printf "%T" .Page.Params.tags) "string" }}
              {{ $tags = slice .Page.Params.tags }}
            {{ end }}
            {{ range $val := $tags -}}
              <li>{{ $val }} </li>
            {{- end }}
            </ul>
            </section>

          {{ $content := .Content }}
          {{ $content | safeHTML }}
        </article>
        {{ partial "comments.html" . }}
      </main>
      {{ partial "footer.html" }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
