{{/* This template renders a single recipe! */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="A curated recipe by a valuable CompSoc member." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://comp-soc.com/cookbook" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <article class="recipe">
          <!-- Header -->
          <div class="d-flex flex-column align-items-center mb-5">
            <div class="recipe-keywords">
              {{ $tags := .Page.Params.tags }}
              {{/* Tags are a supposed to be arrays but just incase someone puts a string:*/}}
              {{ if eq (printf "%T" .Page.Params.tags) "string" }}
                {{ $tags = slice .Page.Params.tags }}
              {{ end }}
              {{ range $val := $tags -}}
                <a class="recipe-keyword" href="{{ printf "/tags/%s" ($val | urlize) | relURL }}">{{ $val }}</a>
              {{- end }}
            </div>
            <h1 class="display-2 mb-4 text-center">{{ .Title }}</h1>
            <div class="recipe-properties d-flex">
              <div class="recipe-property">
                <b>Published</b><br>
                <time datetime="{{ .Date }}">{{ .Date.Format "2 Jan, 2006" }}</time>
              </div>
              <div class="recipe-property">
                <b>Difficulty</b><br>
                {{ .Page.Params.difficulties }}
              </div>
              {{ with .Page.Params.serves }}
              <div class="recipe-property">
                <b>Serves</b><br>
                {{ . }}
              </div>
              {{ end }}
            </div>
          </div>
          <section class="recipe-body row justify-content-center">
            <div class="col-12 col-md-10">
              {{ .Content | emojify | safeHTML }}
            </div>
          </section>
        </article>
        {{ partial "comments.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
