<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="A curated recipe by a valuable CompSoc member." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://comp-soc.com/cookbook" />
  </head>
  <body>
    <main role="main">
      <article>
        {{ if isset .Params "image" }}
        <section class="header image" style="background-image: url({{ .Params.image }});">
        {{ else }}
        <section class="header">
        {{ end }}
          <h1>{{ .Title }}</h1>
          <time datetime="{{ .Date }}">{{ .Date.Format "2 January, 2006" }}</time>
        </section>
        {{ $content := .Content }}
        {{ $content | safeHTML }}
        {{ partial "comments.html" . }}
      </article>
      <section>
        {{ partial "footer.html" }}
      </section>
    </main>
    {{ partial "postamble.html" }}
  </body>
</html>
