<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "preamble.html" }}
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>

        <h1 class="display-2 text-center mb-5" id="page-title">Loading...</h1>
        <div class="row">
          <section class="col-12 col-lg-3">
            <div class="sticky-lg-top filters">
              <!-- Search box -->
              <input class="form-control" name="q" id="search-query" type="text" placeholder="Search recipes" aria-label="Search Query">

              <!-- Some Filters. Yes, the HTML is a gigantic mess but alas this is how Bootstrap forms work :( -->
              <div class="accordion accordion-flush mt-5" id="searchFilters">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="filterAllergensHeading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filterAllergensBody" aria-expanded="false" aria-controls="filterAllergensBody">
                      Excluded Allergens
                    </button>
                  </h2>
                  <div id="filterAllergensBody" class="accordion-collapse collapse" aria-labelledby="filterAllergensHeading" data-bs-parent="#searchFilters">
                    <!-- accordion-body has to be strictly a child of the accordion-collapse class to prevent jumpy transitions:
                    https://stackoverflow.com/questions/38857162/bootstrap-collapse-has-a-jumpy-transition -->
                    <div class="accordion-body">
                      {{ range $allergen := slice "celery" "gluten" "crustaceans" "eggs" "fish" "lupin" "milk" "molluscs" "mustard" "nuts" "peanuts" "sesame_seeds" "soya" "sulphites"}}
                      <div class="form-check">
                        <!-- Double dash used for ID to distinguish from dashes within allergen/taxonomy/term names -->
                        <input class="form-check-input filter-checkbox" type="checkbox" value="" id="filterallergens{{ $allergen }}" data-filter-key="allergens" data-filter-value="{{ $allergen }}">
                        <label class="form-check-label" for="filterallergens{{ $allergen }}">
                          {{ $allergen | title }}
                        </label>
                      </div>
                      {{ end }}
                    </div>
                  </div>

                  {{ range $key, $terms := $.Site.Taxonomies }}
                  {{ $capitalised := $key | title }}
                  <h2 class="accordion-header" id="filter{{ $capitalised }}Heading">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter{{ $capitalised }}Body" aria-expanded="false" aria-controls="filter{{ $capitalised }}Body">
                      {{ $key | title }}
                    </button>
                  </h2>
                  <div id="filter{{ $capitalised }}Body" class="accordion-collapse collapse" aria-labelledby="filter{{ $capitalised }}Heading" data-bs-parent="#searchFilters">
                    <div class="accordion-body">
                      {{ range $term, $pages := $terms }}
                      <div class="form-check">
                        <input class="form-check-input filter-checkbox" type="checkbox" value="" id="filter{{ $key }}{{ $term }}"  data-filter-key="{{ $key }}" data-filter-value="{{ $term }}">
                        <label class="form-check-label" for="filter{{ $key }}{{ $term }}">
                          {{ $term | title }}
                        </label>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}

                </div>
              </div>
            </div>
          </section>
          <section class="col-12 col-lg-9">
            <div class="add-recipe row row-cols-1 mb-4 d-none d-lg-block">
              <a href="https://github.com/{{ .Site.Params.cookbookRepo }}/new/main/?filename=main_courses/0-easy/foo.md&value=---%0Akeywords%3A%20%5Bbabylonian%2C%20fresh%2C%20vegetarian%2C%20thisisoptional%5D%0Aallergens%3A%20%5Bthisisalsooptional%2C%20milk%2C%20gluten%2C%20celery%2C%20crustaceans%2C%20eggs%2C%20fish%2C%20lupin%2C%20milk%2C%20molluscs%2C%20mustard%2C%20nuts%2C%20peanuts%2C%20sesame_seeds%2C%20soya%2C%20sulphites%5D%0Aserves%3A%2030%20cookies%0A---%0A%0A%23%20Grandma%27s%20Milk%20Chocolate%20Cookies%0A%0AThey%20always%20turn%20out%20delicious%21%0A%0A%23%23%20Ingredients%0A%0A%2A%2030g%20of%20molten%20hearts%0A%2A%2070g%20of%20unsalted%20butter%0A%2A%20100ml%20milk%0A%0A%23%23%20Blahblah%0A%0Awhatever%20markdown%20you%20want&message=add%20my%20&delicious%20recipe">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Add your own recipe!</h5>
                    <p class="card-text">The format is <i>super</i> simple, it won't take minutes!</p>
                  </div>
                </div>
              </a>
            </div>
            <noscript>
              Searching or filtering is not possible without JavaScript enabled. You can, however, view all recipes as a list <a href="view-all">here</a>.
            </noscript>
            <ol class="recipe-listing row row-cols-2 row-cols-lg-3 g-4" id="recipe-listing">
              <!-- Here, recipes will be loaded with AJAX. The choice to load
              these asynchronously versus creating them with Hugo templates and
              conditionally hiding them with filters is so that the search can
              re-sort and change the order of recipes easily by just changing the
              .innerHTML. If the recipes were all generated in this file and all
              filters did was show/hide each one, it would be impossible to change
              the order in which recipes are shown. -->
            </ol>
          </section>
        </div>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
    {{ $customScript := resources.Get "/js/search.js" | resources.Minify | resources.Fingerprint }}
    <script async src="{{ $customScript.Permalink }}" integrity="{{ $customScript.Data.Integrity }}"></script>
  </body>
</html>
