<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "preamble.html" }}
    <title>All Recipes | {{ .Site.Title }}</title>
    <meta property="og:title" content="All Recipes (no javascript)" />
    <meta property="og:description" content="Browse all the recipes on Cookbook, no JavaScript required! Filtering and searching capabilities are disabled here." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cookbook.betterinformatics.com" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center mb-5" id="page-title">All Recipes (no js)</h1>
        <section class="mb-5">
          <h2 class="display-5 text-bold mb-3">You may also want to</h2>
          {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies -}}
          {{- with $.Site.GetPage (printf "/%s" $taxonomy_term) -}}
          <a href="{{ .Page.RelPermalink }}" class="btn btn-outline-primary">Browse by <b>{{ .Page.Title }}</b></a>
          {{- end -}}
          {{- end }}
        </section>
        <div class="add-recipe row row-cols-1 mb-4 d-none d-lg-block">
          <a href="https://github.com/{{ .Site.Params.cookbookRepo }}/new/main/?filename=main_courses/0-easy/foo.md&value={{ .Site.Params.templateRecipe }}&message=add%20my%20&delicious%20recipe">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add your own recipe!</h5>
                <p class="card-text">The format is <i>super</i> simple, it won't take minutes!</p>
              </div>
            </div>
          </a>
        </div>
        {{- $pages := (where (.Site.RegularPages.ByTitle.Reverse).ByPublishDate.Reverse "Layout" "recipe") -}}
        {{ partial "listing.html" (dict "pages" $pages "page" .)}}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
