<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "preamble.html" }}
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1 class="display-2 text-center mb-5" id="page-title">All Recipes (no js)</h1>
        <section class="mb-5">
          <h2>You may also want to</h2>
          {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
          {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
          <a href="{{ .Page.RelPermalink }}" class="btn btn-outline-primary">Browse by <b>{{ .Page.Title }}</b></a>
          {{ end }}
          {{ end }}
        </section>
        <div class="add-recipe row row-cols-1 mb-4 d-none d-lg-block">
          <a href="https://github.com/{{ .Site.Params.cookbookRepo }}/new/main/?filename=main_courses/0-easy/foo.md&value=---%0Akeywords%3A%20%5Bbabylonian%2C%20fresh%2C%20vegetarian%5D%0Aallergens%3A%0A-%20milk%0Aserves%3A%2030%20cookies%0A---%0A%0A%23%20Grandma%27s%20Milk%20Chocolate%20Cookies%0A%0AThey%20always%20turn%20out%20delicious%21%0A%0A%23%23%20Ingredients%0A%0A%2A%2030g%20of%20molten%20hearts%0A%2A%2070g%20of%20unsalted%20butter%0A%2A%20100ml%20milk%0A%0A%23%23%20Blahblah&message=add%20my%20&delicious%20recipe">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Add your own recipe!</h5>
                <p class="card-text">The format is <i>super</i> simple, it won't take minutes!</p>
              </div>
            </div>
          </a>
        </div>
        <ol class="recipe-listing row row-cols-2 row-cols-lg-4 g-4" id="recipe-listing">
          {{ range (where (.Site.RegularPages.ByTitle.Reverse).ByPublishDate.Reverse "Layout" "recipe") }}
            <li class="recipe-listing-item col">
              <a href="{{ .RelPermalink }}" role="article">
                <div class="card h-100">
                  {{ if (isset .Params "previewimage") }}
                  <img loading="lazy" src="{{ .Params.previewimage }}" class="card-image-top mx-1 mt-1" alt="Delicious-looking image of {{ .Title }}" />
                  {{ end }}
                  <div class="card-body">
                    <span class="meta">{{ .Params.meals }} / {{ .Params.difficulties }}</span>
                    <h4 class="display-5 mt-3">{{ .Title }}</h2>
                  </div>
                </div>
              </a>
            </li>
          {{ end }}
        </ol>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
