{{/* This template renders a single recipe! */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" . }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="Difficulty: {{ .Page.Params.difficulties }}\nMeal: {{ .Page.Params.meals }}\n{{ .Summary }}" />
    <meta property="og:url" content="https://github.com/{{ .Site.Params.cookbookRepo }}" />
    <meta property="og:site_name" content="CompSoc Cookbook" />
    <meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
    <meta property="og:article:section" content="Recipes" />
    {{- $tags := .Page.Params.tags -}}
    {{/* Tags are a supposed to be arrays but just incase someone puts a string:*/}}
    {{- if eq (printf "%T" .Page.Params.tags) "string" -}}
      {{- $tags = slice .Page.Params.tags -}}
    {{- end -}}
    {{ range $val := $tags }}
    <meta property="og:article:tag" content="{{ $val }}" />
    {{- end }}
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <article class="recipe">
          <!-- Header -->
          <div class="d-flex flex-column align-items-center mb-5">
            <div class="recipe-keywords">

              <time class="recipe-keyword" datetime="{{ .Date }}">{{ .Date.Format "2 Jan, 2006" }}</time>
                •
                <b><a class="recipe-keyword" href="{{ printf "/difficulties/%s" (.Page.Params.difficulties | urlize) | relURL }}">
                  {{ .Page.Params.difficulties }}
                </a></b>
                •
                <b><a class="recipe-keyword" href="{{ printf "/meals/%s" (.Page.Params.meals | urlize) | relURL }}">
                  {{ .Page.Params.meals }}
                </a></b>
            </div>
            <h1 class="display-2 mb-4 text-center">{{ .Title }}</h1>
            <div class="recipe-properties d-flex">
              {{ with .Page.Params.serves }}
              <div class="recipe-property">
                <b>Serves</b><br>
                {{ . }}
              </div>
              {{ end }}
              {{ with .Page.Params.allergens }}
              <div class="recipe-property">
                <b>Contains</b><br>
                {{ range $key := . }}{{ $key }}{{ end }}
              </div>
              {{ end }}
            </div>
          </div>
          <section class="recipe-body row justify-content-center">
            <div class="col-12 col-md-10">
              {{ .Content | emojify | safeHTML }}

              <div class="recipe-keywords mt-5">
                {{ range $val := $tags -}}
                  <a class="recipe-keyword" href="{{ printf "/tags/%s" ($val | urlize) | relURL }}">#{{ $val }}</a>
                {{- end }}
              </div>
            </div>
          </section>
        </article>
        {{ partial "comments.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
