{{/* This is redundant in place of taxonomy/list.html, but in the future this will contain difficulty-specific design/layout */}}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "preamble.html" }}
    <title>Browsing all {{ .Data.Plural }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="List of all {{ .Data.Plural }}" />
    <meta property="og:description" content="Are you a master chef? Or a rookie starting your first dish? Select your desired recipe difficulty here and narrow your choice down." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cookbook.betterinformatics.com" />
  </head>
  <body>
    <div class="container">
      {{ partial "navbar.html" . }}
      <main>
        <h1>{{ .Title }}</h1>
        <span>List of {{ .Data.Plural }}. Soon this will look better with images and icons and all that frill!</span>
        <hr>
        <ol class="listing">
          {{ range .Data.Terms }}
          <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
          {{ end}}
        </ol>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "postamble.html" }}
  </body>
</html>
