@charset "UTF-8";

/* =======================================================*/
/* Configuration for Bootstrap using SASS variables       */
/* =======================================================*/
$primary-darkest: #885d3a;
$primary-darker: #af7c54;
$primary: #cc9e79;
$primary-lighter: #e8c6ab;
$primary-lightest: #F1DAC7;
$bg: #fefefc;
$secondary-lighter: #ebf7cd;
$secondary: #EAF7B7;
$secondary-darker: #bed18d;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$font-family-base:"Lato", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", system-ui;

/* =======================================================*/
/* Load Bootstrap                                         */
/* =======================================================*/

@import "../bootstrap/scss/bootstrap";

/* =======================================================*/
/* Custom overrides, styles, CSS generation               */
/* =======================================================*/

body {
  background-color: $bg;
}

@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    font-family: "Playfair Display", charter, Georgia, Cambria, "Times New Roman", Times, serif, system-ui;
  }
}
